matrix:
  - name: Markdown
    aspell:
      lang: en
    dictionary:
      encoding: utf-8
      wordlists:
        - .github/workflows/wordlist.txt
    pipeline:
      - pyspelling.filters.markdown:
          markdown_extensions:
            - markdown.extensions.extra:
    sources:
      - '**/*.md'
    expect_match: true
